* {
    box-sizing: border-box;
}

/* BEGIN RIGHT ARTICLE STYLING */
header {
    padding: 15px;
    margin: 20px;
    background-image: linear-gradient(to right, blue, purple)
}

#search-container {
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.card-head, .form-control, .btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.city-btn {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: darkgray;
}

@media screen and (max-width: 992px) {
    .city-btn {
        margin-right: 5px;
        margin-left: 3px;
        max-width: 32%;
    }
}

@media screen and (max-width: 768px) {
    .city-btn {
        margin-right: 3px;
        margin-left: 3px;
        max-width: 32%;
    }
}

@media screen and (max-width: 514px) {
    .city-btn {
        margin-right: 2px;
        margin-left: 2px;
        max-width: 32%;
    }
}
/* END RIGHT ARTICLE STYLING */


/* BEGIN LEFT ARTICLE STYLING */
/* CURRENT WEATHER STYLING */
#current-weather-container {
    padding: 10px;
}

.curr-weather-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 5 DAY FORECAST STYLING */
#five-day-container {
    padding: 0;
    margin-top: 8px;
}

.five-day-card {
    background-color: #154c79;
    color: white;
    margin: 5px;
}

h3 {
    font-size: 16px;
    margin-top: 0.5rem;
}

@media screen and (max-width: 576px) {
 .five-day-card {
     width: 97%;
 }
}
/* END LEFT ARTICLE STYLING */